.conditionsList, .allergiesList {
    display: flex;
    flex-wrap: wrap;
}

.conditionItem, .allergiesItem {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.patientDataHeader {
    text-align: center;
}

.patientDataWrapper {
    border: 2px solid black;
}

.patientDataWrapper {
    margin-top: 10px;
}